body{
    background-color: rgb(236, 159, 175);
    color: beige;
}

form{
    background-color: rgb(236, 159, 175);
    border-radius: 1em;
    box-shadow: 0 0 3px crimson;
    width:300px;
    margin: 0 auto;
    padding: 1em;

    div {
        display: flex;
        justify-content: space-between;
    }
}

img{
    width: 35%;
   
    
}